PORT=5001
NODE_ENV=development
GEMINI_API_KEY=
GROQ_KEY=
SUPABASE_URL=
SUPABASE_ANON_KEY=
JWT_SECRET=use-the-exact-same-value-as-server
ML_API_URL=http://localhost:8000
GRAPH_API_URL=http://localhost:5002
NODE_INTERNAL_TOKEN=use-the-exact-same-value-as-server-and-ml
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
